<form class="task-form" [formGroup]="form" (ngSubmit)="submit()">
    <h3>Create a new task</h3>

    <div class="task-form__field">
        <label for="title">Title</label>
        <input id="title" type="text" formControlName="title" />

        @if (title?.touched && title?.invalid) {
        <p class="task-form__error">
            @if (title?.errors?.['required']) { Title is required. }@else if
            (title?.errors?.['minlength']) { Title must be at least 3 characters. }
        </p>
        }
    </div>

    <div class="task-form__field">
        <label for="description">Description</label>
        <textarea id="description" rows="3" formControlName="description"></textarea>
        @if(description?.touched && description?.invalid){
            <p class="task-form__error">
                Description is required
            </p>
        }
    </div>

    <div class="task-form__field">
        <label for="status">Satus</label>
        <select id="status" formControlName="status">
            <option value="todo">To do</option>
            <option value="in-progress">In progress</option>
            <option value="done">Done</option>
        </select>
    </div>
<button type="submit" [disabled]="form.invalid">Create task</button>
</form>