<main class="layout">
  <header class="layout__header">
    <h1>{{ title() }}</h1>

@if (isLoggedIn) {
      <nav class="layout__nav">
      <a
        routerLink="/dashboard"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        Dashboard
      </a>

      <a routerLink="/tasks" routerLinkActive="active">
        Tasks
      </a>

      <a routerLink="/profile" routerLinkActive="active">
        Profile
      </a>

      <a routerLink="/settings" routerLinkActive="active">
        Settings
      </a>
    </nav>
}

    <div class="layout__auth">
      @if (isAuthLoading) {
        <span>Checking auth...</span>
      }@else if (isLoggedIn) {
        <span class="layout__user">{{currentUserEmail}}
           @if (currentRole) {
    <span class="layout__role">({{ currentRole }})</span>
  }
        </span>
        <button type="button" (click)="logout()">Logout</button>
      }@else {
        <a routerLink="/login" routerLinkActive="active" >Login</a>
      }
    </div>
  </header>

  <section class="layout__body">
    <router-outlet></router-outlet>
  </section>
</main>
